<a href="https://colab.research.google.com/github/Kshitij221217/salary_satisfaction-Random-Forest-/blob/main/ASSIGNMENT_FOR_AUTOML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd

In [43]:
import pandas as pd
df = pd.read_csv("/content/salary,satisfaction.csv", engine='python')

In [44]:
df.head()# it will top 4 data

         id  Target_Salary  ...          phones CrimeTime
0  68407277       42405.00  ...  (510) 528-2375  23:30:00
1  68355089       60740.00  ...  (510) 528-2375  23:00:00
2  68341763       51907.68  ...  (510) 528-2375  22:53:00
3  66310712       51907.68  ...  (510) 528-2375  22:50:00
4  68476807          35.00  ...  (510) 528-2375  22:31:00

[5 rows x 83 columns]

In [45]:
print(df.info())#information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 83 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2946 non-null   int64
 1   Target_Salary               2946 non-null   float64
 2   Target_Satisfied            2946 non-null   int64
 3   LOAN_AMT                    2946 non-null   object
 4   Business Title              2946 non-null   object
 5   Civil Service Title         2946 non-null   object
 6   Division/Work Unit          2946 non-null   object
 7   Job Description             2946 non-null   object
 8   Minimum Qual Requirements   2926 non-null   object
 9   Preferred Skills            2553 non-null   object
 10  Additional Information      1854 non-null   object
 11  To Apply                    2945 non-null   object
 12  Hours/Shift                 884 non-null    object
 13  Residency Requirement       2942 non-null   object
 14  Posting Date                2942 non-null   object
 15  Posting Updated             2942 non-null   object
 16  Process Date                2942 non-null   object
 17  FormalEducation             2894 non-null   object
 18  UndergradMajor              2624 non-null   object
 19  CompanySize                 2946 non-null   object
 20  DevType                     2901 non-null   object
 21  YearsCoding                 2943 non-null   object
 22  YearsCodingProf             2538 non-null   object
 23  HopeFiveYears               2477 non-null   object
 24  JobSearchStatus             2511 non-null   object
 25  LastNewJob                  2499 non-null   object
 26  UpdateCV                    2089 non-null   object
 27  CommunicationTools          2023 non-null   object
 28  TimeFullyProductive         2052 non-null   object
 29  EducationTypes              2128 non-null   object
 30  SelfTaughtTypes             1812 non-null   object
 31  TimeAfterBootcamp           221 non-null    object
 32  HackathonReasons            849 non-null    object
 33  AgreeDisagree1              2133 non-null   object
 34  AgreeDisagree2              2133 non-null   object
 35  AgreeDisagree3              2139 non-null   object
 36  LanguageWorkedWith          2447 non-null   object
 37  LanguageDesireNextYear      2279 non-null   object
 38  DatabaseWorkedWith          2130 non-null   object
 39  DatabaseDesireNextYear      1831 non-null   object
 40  PlatformWorkedWith          2070 non-null   object
 41  PlatformDesireNextYear      1909 non-null   object
 42  FrameworkWorkedWith         1633 non-null   object
 43  FrameworkDesireNextYear     1731 non-null   object
 44  IDE                         2360 non-null   object
 45  OperatingSystem             2377 non-null   object
 46  Methodology                 1991 non-null   object
 47  VersionControl              2332 non-null   object
 48  CheckInCode                 2319 non-null   object
 49  AIDangerous                 2000 non-null   object
 50  AIInteresting               2076 non-null   object
 51  AIResponsible               2070 non-null   object
 52  AIFuture                    2196 non-null   object
 53  Age                         2027 non-null   object
 54  term                        2946 non-null   object
 55  loan_status                 2946 non-null   object
 56  pymnt_plan                  2946 non-null   object
 57  orignal_website_directory   2946 non-null   object
 58  purpose                     2946 non-null   object
 59  title                       2882 non-null   object
 60  zip_code                    2946 non-null   object
 61  addr_state                  2946 non-null   object
 62  dti                         2946 non-null   float64
 63  earliest_cr_line            2946 non-null   object
 64  last_pymnt_d                2946 non-null   object
 65  last_pymnt_amnt             2946 non-null   float64
 66  next_pymnt_d                336 non-null    object
 67  last_credit_pull_d          2946 non-null   object
 68  Time                        2946 non-null   object
 69  emp_length                  715 non-null    object
 70  your_favoritearticle_today  2945 non-null   object
 71  url                         2946 non-null   object
 72  Email                       1941 non-null   object
 73  homeaddress                 2629 non-null   object
 74  latitude                    2629 non-null   float64
 75  longitude                   2629 non-null   float64
 76  PHONE                       715 non-null    object
 77  officeaddress               2407 non-null   object
 78  website                     2399 non-null   object
 79  dateAdded                   2946 non-null   object
 80  previousaddress             2946 non-null   object
 81  phones                      2946 non-null   object
 82  CrimeTime                   2946 non-null   object
dtypes: float64(5), int64(2), object(76)
memory usage: 1.9+ MB
None

In [46]:
df.describe() #method is used for calculating some statistical data like percentile, mean,std

                 id  Target_Salary  ...     latitude    longitude
count  2.946000e+03    2946.000000  ...  2629.000000  2629.000000
mean   6.830623e+07   58904.139794  ...    37.515979   -92.490287
std    1.814269e+06   26986.575936  ...     4.749089    16.578616
min    3.617740e+05       0.000000  ...    25.479009  -124.183611
25%    6.837622e+07   49390.000000  ...    33.876535  -105.095673
50%    6.846507e+07   58440.000000  ...    38.898082   -87.180851
75%    6.853764e+07   73171.750000  ...    40.813125   -78.879958
max    6.861706e+07  218587.000000  ...    48.785206   -68.753750

[8 rows x 7 columns]

In [47]:
#checking the nan/null values
print(df.isnull().sum())
print("####__________####")
print(df.isna().sum())
print("####__________####")
print(df.head(2))

id                    0
Target_Salary         0
Target_Satisfied      0
LOAN_AMT              0
Business Title        0
                   ...
website             547
dateAdded             0
previousaddress       0
phones                0
CrimeTime             0
Length: 83, dtype: int64
####__________####
id                    0
Target_Salary         0
Target_Satisfied      0
LOAN_AMT              0
Business Title        0
                   ...
website             547
dateAdded             0
previousaddress       0
phones                0
CrimeTime             0
Length: 83, dtype: int64
####__________####
         id  Target_Salary  ...          phones CrimeTime
0  68407277        42405.0  ...  (510) 528-2375  23:30:00
1  68355089        60740.0  ...  (510) 528-2375  23:00:00

[2 rows x 83 columns]

In [48]:
print(df['Target_Satisfied'].unique())
print("Binary variable")

x=df.iloc[:,1].values.reshape(-1,1) #Independent" variable (x)
y=df['Target_Satisfied'].values #Dependent Variable(y)

[0 1]
Binary variable

In [64]:
#Splitting the Data
###The reason is that when the dataset is split into train and test sets,
### there will not be enough data in the training dataset 
### for the model to learn an effective mapping of inputs to outputs
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=10)

In [87]:
from sklearn.ensemble import RandomForestClassifier
#we are using RandomforestClassifier for best outcomes due to Binary Targets
#Now we are using Classifier 
#because Classification metrics can't handle a mix of binary and continuous targets
classifier=RandomForestClassifier(n_estimators=10,max_features='sqrt')
classifier.fit(x_train,y_train)
pred_y=classifier.predict(x_test)

In [58]:
#Some Hyperparameter techniques for best outcomes
from sklearn.model_selection import GridSearchCV
param={'n_estimators':[100,200,300,400,500,600,700,10,20,30,40,50,60,70],
       'max_features': ['auto', 'sqrt', 'log2']}
grid_search=GridSearchCV(RandomForestClassifier(),param_grid=param,cv=10)
grid_search.fit(x_train,y_train)
print(grid_search.best_params_)
print(grid_search.best_score_)

{'max_features': 'log2', 'n_estimators': 10}
0.7614551027767761

In [88]:
from sklearn import metrics
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, pred_y)))
print('F1 SCORE',metrics.f1_score(y_test,pred_y))

Root Mean Squared Error: 0.49403218175557095
F1 SCORE 0.1111111111111111

In [67]:
print('Confusion Matrix',
      "##",metrics.confusion_matrix(y_test,pred_y)*100)
print("Accuracy score",metrics.accuracy_score(y_test,pred_y)*100)

Confusion Matrix ## [[44000  2200]
 [12200   600]]
Accuracy score 75.59322033898304

In [55]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

In [56]:
from sklearn.ensemble import RandomForestRegressor  
# Instead of classification we are using regressor because in problem statement QUESTIONS are asked about (RMSE(ROOT MEAN SQUARED Error))
# In below code we will use Classifier to se the accuracy

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [57]:
from sklearn import metrics
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Root Mean Squared Error: 0.4417995414392313
Mean Absolute Error: 0.3329163672500554
Mean Squared Error: 0.19518683481591503